.intro-container {
    text-align: center;
    padding: 20px;
    margin-top: 45%;
  }
  
  .intro-image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .intro-title {
    font-size: 20px;
    margin-top: 20px;
    font-style: bold;
  }
  
  .intro-description {
    font-size: 14px;
    margin-top:-10px;
  }

  ion-button {
    margin-top: 200px;
  }